{# {% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %} {{"passe-oublier.titre"|trans}} | Trust & Market {% endblock %}

{% block stylesheets %}
  <link href="{{asset('assets/css/floating-labels.css')}}" rel="stylesheet">
    <style>
      body{ {% if include('Seo/Meta/security_image.html.twig', {code: 'reinitialiser_mot_de_passe_image'}) != "\n" %}
			background: url({{ include('Seo/Meta/security_image.html.twig', {code: 'reinitialiser_mot_de_passe_image'}) }}) no-repeat center center fixed;
		{% else %} background: url({{ absolute_url(asset('assets/img/john-raptis.png'))}}) no-repeat center center fixed;
		{% endif %}
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
	  }
      .white-t{
        color: #fff;
      }
      .float-r {
        float: right;
      }
        form{
        margin-left: auto;
        margin-right: auto;    
        }
      .special-link{
        text-decoration: underline;
        color: #fff;
      }
      .special-link:hover{
        text-decoration: underline;
        color: #f17c30;
      }

      .special-below-link{
        color:#fff;
      }
      .special-below-link:hover{
        text-decoration: none;
        color:#f17c30;
      }

      .newcode-button{
        background: #f17c30;
        border: none;
        font-size: 15px;
      }
      .newcode-button:hover{
        color:#f17c30;
        background: #fff;
        border: none;
      }

      .input-custom{
        background-color: rgba(0, 0, 0, 0.15);
        color:#ddd;
      }
      .input-custom:focus{
        background-color: rgba(0, 0, 0, 0.15);
        border-color: #fff;
        color: #fff;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
 
 {% endblock %}


{% block body %}
    {{ form_start(resetForm) }}
        <div class="text-center mb-4">
				  <a href='/'>
            <img class="mb-4" src="{{prerender(asset('assets/img/logo_tm.svg'))}}" alt="logo" width="72" height="72">
          </a>
          <h1 class="h3 mb-3 font-weight-normal white-t">{{'reinitialiser-mot-de-passe.titre'|trans}}</h1>
          <p class="white-t">{{'reinitialiser-mot-de-passe.description'|trans}}</p>
        </div>

        <div class="form-label-group">
            {{ form_widget(resetForm.plainPassword.first , {'attr':{'class':'form-control input-custom', 'placeholder':'','type':'password', 'id':'inputPassword','value':'','autofocus':'autofocus','required':'required'}}) }}
            {{ form_label(resetForm.plainPassword.first, 'reinitialiser-mot-de-passe.texte-mot-de-passe'|trans) }}
            {{ form_errors(resetForm.plainPassword.first) }}
        </div>

        <div class="form-label-group">
            {{ form_widget(resetForm.plainPassword.second , {'attr':{'class':'form-control input-custom', 'placeholder':'','type':'password', 'id':'inputPassword','value':''}}) }}
            {{ form_label(resetForm.plainPassword.second, 'reinitialiser-mot-de-passe.texte-repeter-mot-de-passe'|trans) }}
            {{ form_errors(resetForm.plainPassword.second) }}
            <div class="mt-2" id="progress-container"></div>
        </div>

        <div class="mb-3 text-center">
            <button class="btn btn-lg btn-primary btn-md newcode-button" id="submitNew"  type="submit">{{'reinitialiser-mot-de-passe.valider'|trans}}</button>
        </div>

    {{ form_end(resetForm) }}

{% endblock %}

{% block javascripts %}

 {% endblock %}
