<nav aria-label=" ...">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link {% if noPage == 1 %}disabled{% endif %}" href="{{path('profile_listeAnnoncesPagine', {noPage: noPage-1,
				nombreDeLignes: annoncesPublieesCount, tag: 'publish'})}}" tabindex="-1">{{'filtres.precedent'|trans({}, 'liste_annonces') }}</a>
			</li>
			{% if noPage > 1  %}
				<li class="page-item">
					<a class="page-link" href="{{path('profile_listeAnnoncesPagine', {noPage: 1,
					nombreDeLignes: annoncesPublieesCount, tag: 'publish'})}}">1<span class="sr-only"></span>
					</a>
				</li>
			{% endif %}
			{% if noPage > 2  %}
				<li class="page-item">
					<a class="page-link" href="">...<span class="sr-only"></span>
					</a>
				</li>
			{% endif %}
			<li class="page-item active">
				<a class="page-link" href="{{path('profile_listeAnnoncesPagine', {noPage: noPage,
				nombreDeLignes: annoncesPublieesCount, tag: 'publish'})}}">{{noPage}}<span class="sr-only"></span>
				</a>
			</li>
			{% if pages_publish - noPage > 1  %}
				<li class="page-item">
					<a class="page-link" href="">...<span class="sr-only"></span>
					</a>
				</li>
			</li>
		{% endif %}
		{% if pages_publish - noPage > 0  %}
			<li class="page-item">
				<a class="page-link" href="{{path('profile_listeAnnoncesPagine', {noPage: pages_publish,
				nombreDeLignes: annoncesPublieesCount, tag: 'publish'})}}">{{pages_publish}}<span class="sr-only"></span>
				</a>
			</li>
		{% endif %}
		<li class="page-item {% if noPage == pages_publish %}disabled{% endif %}">
			<a class="page-link" href="{{path('profile_listeAnnoncesPagine', {noPage: noPage+1,
			nombreDeLignes: annoncesPublieesCount, tag: 'publish'})}}">{{'filtres.suivant'|trans({}, 'liste_annonces') }}
			</a>
		</li>
	</ul>
</nav>