<div class="card col-md-3 announce-list" data-id="{{id}}" style="width: 18rem;">
	<img class="card-img-top" src="{{src}}" alt="{{slug}}">
	<div class="card-body">
		<h5 class="card-title">Annonce {{id}}</h5>
		<p class="card-text">{{titre}}</p>
		<a href="{{path('post_delete_get', {'id' : id})}}" class="btn btn-danger delete_announce_element">Supprimer</a>
	</div>
</div>
