{# templates/generalLayout.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include 'tag-google.html.twig' %}
    {% include 'hotjar.html.twig' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- No Index for dev -->
    {% include("Seo/Meta/noindex.html.twig") %}
    <!-- No Index for dev -->
    {% block head %}{% endblock %}
    <title>{% block title %}Trust &amp; Market{% endblock %}</title>
    {% block style %}
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link href="{{ asset('assets/css/result.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/custome.css') }}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

        {% include 'cssTemplates/mediaHomeQuery.css.twig' %}
        {% include 'cssTemplates/chat.css.twig' %}

        <style>
            @media only screen and (max-width: 768px) {
                .homeLayout main.py-5 {
                    padding-top: 0rem !important;
                    position: relative;
                    top: -3rem;
                }
            }
        </style>

    {% endblock %}
    {% include "pixelFacebook.html.twig" %}
    {% include 'scriptautomatisationBrevo.html.twig' %}
    {% include 'scriptchatBrevo.html.twig' %}
</head>
<body class="homeLayout">
{% include 'facebook-support.html.twig' %}
{% block header %}
<header style="height: 100%;">
    {% include("header-new-design.html.twig") %}
    {% endblock %}

    {% block navigation %}

    <div id="imageHolder"
         class="view intro-2" {# style="background-repeat: no-repeat; background-position: center center; background-size: cover" #}>
        <div class="full-bg-img" style="height: 100%;">
            <div id="background-img"
                 style="background-image: url('{% if bloc10 %}{{ bloc10.optionValue }}{% else %}{{ asset('assets/img/prestations/cover.jpg') }}{% endif %}');align-items: center;height: 100%;display: flex;position:relative;justify-content: start;flex-direction: column;"
                 class="mask rgba-purple-light flex-center fullBackground pt-5 searchFilterDiv">
                <div class="col-md-3 col-lg-3 col-xl-3 col-12 custom-filter ml-4 mt-5 mobile_filter" id="custom-filter" style="display:none;width: 360px;max-width: 100%;">
                    <div class="bloc_blanc">
                        <div class="container" style="padding: 0px;">
                            <div class="search-title-mob">{% if slogan_homepage is defined and slogan_homepage %}{{ slogan_homepage.getOptionValue|raw }}{% else %}{{ 'home.texte.slogan'|trans }}{% endif %}</div>
                        </div>
                    </div>
                </div>
                <div class="titre_filter" style="margin-bottom: 1rem;margin-top: 4rem; color: white">
                    <h1 class="titreFromTitreFilter" style="text-align: center;font-family: 'Palanquin Dark',sans-serif !important;font-size: 2rem;">{% if slogan_homepage is defined and slogan_homepage.getOptionValue|trim != '' %}{{ slogan_homepage.getOptionValue|raw }}{% else %}{{ 'home.texte.slogan'|trans }}{% endif %}</h1>
                {% if actualite %}
                    <a target="_blank" class="link-card-actu" href="{{ actualite.guid }}">
                        <div>
                            {{ actualite.postTitle|raw }}
                            {{ actualite.postContent|raw }}
                        </div>
                    </a>
                {% endif %}

                <div class="container text-center white-text wow fadeInUp">
                    <div class="row">
                        <div class="m-auto col-md-9 col-xs-12"></form>
                        </div>
                        <div id="sectionAvancer" class="col-md-12 d-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <!-- Modal -->
    {% if youtube_url is defined %}
        {% if youtube_url.autoload == 'yes' %}
            <div class="modal fade" id="youtubeVideoModal" tabindex="-1" role="dialog"
                 aria-labelledby="youtubeVideoModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content" style="background-color: transparent;box-shadow: none;">
                        <div class="modal-body">
                            <span aria-hidden="true" class="closeVideoBtnModal">&times;</span>
                            <div class="hs-responsive-embed-youtube">
                                <iframe class="rounded" src="" frameborder="0" allowfullscreen=""
                                        allow="autoplay"></iframe>
                            </div>
                            <input hidden
                                   value="{% if youtube_url %}{% if youtube_url.autoload == 'yes' %}{{ youtube_url.optionValue }}{% endif %}{% endif %}"
                                   id="youtube_url"/>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <!--Main Navigation-->
{% endblock %}
{% block body %}

    {% include("partials/project.html.twig") %}
{% endblock %}

{% block footer %}
    {% include("footer.html.twig") %}
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    {# <script type="text/javascript" src="{{ prerender(asset('assets/js/jquery-3.4.1.min.js')) }}"></script> #}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Bootstrap tooltips -->
    {# <script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script> #}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    {# <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script> #}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    {# <script type="text/javascript" src="{{ asset('assets/js/mdb.min.js') }}"></script> #}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/js/mdb.min.js"></script>
    <!-- Lazy load -->
    <!-- cdnjs for lazy load -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

    <script src="{{ asset('toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('assets/js/fullclip.min.js') }}"></script>
    {# <script src="{{ asset('assets/js/gijgo-js/gijgo.min.2.js') }}"></script> #}
    <script src="{{ asset('assets/js/lazysizes.min.js') }}" async></script>
    <!-- Images End -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LcNudwZAAAAAOo22kCqBlPfeSQHVV05TTIWy2I2"></script>
    {% include "partials/js/top_button.html.twig" %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    {% if app.environment == 'prod' %}
        {% include 'partials/js/cookie.js.twig' %}
    {% endif %}

    <script>
        $(document).on("click", ".linkContent", function (e) {
            $('.floatingMenu').fadeToggle();
        })


        {% if youtube_url %}
        $("#youtubeVideoModal").modal("show");

        $(".closeVideoBtnModal").click(function (e) {
            e.preventDefault();
            $("#youtubeVideoModal").modal('hide');
            $(".hs-responsive-embed-youtube iframe").attr("src", "");
        });

        $(".playVideoButton i").click(function () {
            $("#youtubeVideoModal").modal('toggle');
            $(".hs-responsive-embed-youtube iframe").attr("src", 'https://www.youtube.com/embed/' + $("#youtubeVideoModal #youtube_url").val());
        });
        {% endif %}

        $(document).click(function (event) {
            var target = $(event.target);
            if (!target.closest('.linkContent').length && $('.linkContent').is(':visible')) {
                $('.floatingMenu').fadeOut();
            }
        });
        $('.searchSelectPicker').selectpicker();

        $(document).on("click", ".homeFilterFormButton", function (event) {
            event.preventDefault();
            var oldTexte = $(this).text()
            $(this).text("En cours...")
            var whichForm = $(this).attr('attr-form')
            var typePrestation = $('.' + whichForm).find('select[name="type_prestation"]').val()
            console.log(typePrestation);
            if (typePrestation == "") {
                $(this).text(oldTexte)
                toastr.error('Veuillez sélectionner un type de prestation pour lancer la recherche.');
            } else {
                $(this).text(oldTexte)
                $('.' + whichForm).submit();
            }
        });

        if ($(window).width() <= 922) {
            $('.block_conjoint').insertAfter('.search-title-mob')
            $('.searchDiv').insertAfter('.block_conjoint')
            $('.link-card-actu').insertAfter('searchDiv')
            //$('.link-card-actu').insertAfter('searchFilterDiv')
        }

        window.onresize = function () {
            if (window.innerWidth <= 922) {
                $('.block_conjoint').insertAfter('.search-title-mob')
                $('.searchDiv').insertAfter('.block_conjoint')
                $('.link-card-actu').insertAfter('.searchDiv')
                //$('.link-card-actu').insertAfter('.searchFilterDiv')
            } else {
                $('.block_conjoint').insertAfter('.titreFromTitreFilter')
                $('.searchDiv').insertAfter('.logoButtonHeader')
                $('.link-card-actu').insertAfter('.titre_filter')
            }
        }

        grecaptcha.ready(function () {
            grecaptcha.execute('6LcNudwZAAAAAOo22kCqBlPfeSQHVV05TTIWy2I2', {action: 'homepage'}).then(function (token) {
                document.getElementById("recaptchaResponse").value = token;
            });
        });
        // Script to create user for newsletter

        $('#newsletterForm').on('submit', function (e) {
            e.preventDefault();
            if ($('#recaptchaResponse').val()) {

                toastr.info("{{ 'newsletter.attente'|trans }}");
                let $form = $(this);
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    success: function (response) {
                        console.log(response);
                        if (response == 1) {
                            toastr.clear();
                            $('#body').hide();
                            $('#succes').show();
                            $('html,body').scrollTop(0);
                            $('#send').removeClass('running');
                            toastr.success('{{ 'newsletter.succes'|trans }}');
                            $('#newsletterModal').modal('toggle');
                        } else if (response == 2) {
                            toastr.clear();
                            $('#send').removeClass('running');
                            toastr.warning('{{ 'newsletter.email_occupe'|trans }}');
                        } else if (response == 0) {
                            toastr.clear();
                            $('#send').removeClass('running');
                            toastr.warning('{{ 'newsletter.robot'|trans }}');
                        }
                    },
                    error: function (response) {
                        toastr.clear();
                        $('#send').removeClass('running');
                        toastr.error('{{ 'newsletter.echec'|trans }}');
                    }
                });
                return false;
            } else {
                toastr.warning('robot');
            }
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            var docWidth = document.documentElement.offsetWidth;

            [].forEach.call(document.querySelectorAll('*'), function (el) {
                if (el.offsetWidth > docWidth) {
                    console.log(el);
                }
            });

            /**
             * On click event on searchbar to add class active to advance search and click outside the box to close advance section
             */
            $('#searchBar').on('click', function () {
                $('.new-srch').addClass('active');
            });
            /****************************************/
            $(document).mouseup(function (e) {
                if ($(e.target).closest("#SearchBar-menu1 .input-group").length === 0) {
                    $('.new-srch').removeClass('active');
                }
            });

            /**
             * Manipulate data from data-id and data-name attributes in "Types de prestation"
             */
            $('.prestation-i').on('click', function (e) {
                e.preventDefault();
                var pres_id = $(this).attr('data-id');
                var pres_name = $(this).attr('data-name');

                $('.type-pres-span').html(pres_name);
                $('.input-type-prestation').val(pres_id);

                var url1 = '{{ app.request.get("_locale") }}/home/sous_categorie1?id=' + pres_id;
                toastr.info("{{ 'home.formulaire-champs.recherche-sous-categories'|trans }}");
                $.ajax({
                    url: url1,
                    type: 'get',
                    success: function (reponse) {
                        toastr.clear();
                        console.log(reponse);

                        $('.besoin-fld-scroll-item').html(reponse);
                    },
                    error: function (reponse) {
                        toastr.clear();
                    }

                });

            });

            $(document).on('click', '.besoins-i', function () {
                var pres_id = $(this).attr('data-id');
                var pres_name = $(this).attr('data-name');

                $('.besoins-span-text').html(pres_name);
                $('.input-type-besoins').val(pres_id);
                var b = $('.input-type-besoins').val();
                console.log(pres_id + " " + pres_name + " " + b);
            });


// Lazy Loading initializer
            $(function () {
                $('.lazy').lazy();
            });

// Hambuger menu icon
            $('.animated-button-icon').on('click', function () {
                $('.animated-icon2').toggleClass('open');
            });

// first thing turn Hide Menu Search bar
            $("#frLang").hide();
// toggle language for English
            $("#enLang").click(function () {
                $("#dropdownLang").html("<span class='flag-icon flag-icon-us'> </span>  EN");
                $("#enLang").hide();
                $("#frLang").toggle("slide");
            });
// toggle language for French
            $("#frLang").click(function () {
                $("#dropdownLang").html("<span class='flag-icon flag-icon-fr'> </span>  FR");
                $("#frLang").hide();
                $("#enLang").toggle("slide");
            });

            $(document).on('change', '.categorieParent', function (e) {

                e.preventDefault();
                var url1 = '{{ app.request.get("_locale") }}/home/sous_categorie?id=' + $(this).val();
                toastr.info("{{ 'home.formulaire-champs.recherche-sous-categories'|trans }}");

                $.ajax({
                    url: url1,
                    type: 'get',
                    success: function (reponse) {
                        toastr.clear();
                        console.log(reponse);
                        $('.sous_category').removeAttr('disabled');

                        $('.sous_category').html(reponse);
                    },
                    error: function (reponse) {
                        toastr.clear();
                    }

                });

            });

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "30000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

        });
    </script>


    {% include "partials/js/searchForm.html.twig" %}
    {% include 'ws/script.html.twig' %}
{% endblock %}
</body>
</html>
