{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block page_title %}
    Parcours utilisateur - Univers Trust
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('admin/assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/css/more.css') }}">
    <link rel="stylesheet" href="{{ asset('toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/sweetalert/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/css/loading-btn.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/css/loading.css') }}">
    <style>
        #main-menu {
            font-size: 14px;
        }
    </style>
    <div class="content">
        <div class="animated fadeIn">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="box-title">Parcours utilisateur - Univers Trust<a
                                        class="badge badge-complete right1"
                                        href="{{ path('marketing_experiences_create_get') }}"
                                        title="Ajouter une opération">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Titre</th>
                                        <th>Youtube</th>
                                        <th>Crée le</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for m in ops %}
                                        <tr style="background-color: #F7F7F7;font-weight: bold;">
                                            <td>{{ m.id }}</td>
                                            <td>{{ m.titre }}</td>
                                            <td>{{ m.youtube }}</td>
                                            <td>{{ m.created_at }}</td>
                                            <td>
                                                <a class="badge badge-pending post-details my-1"
                                                   href="{{ path('marketing_experiences_details_get', {id : m.id}) }}"
                                                   title="Details du post">
                                                    <i class="fa fa-eye "></i>
                                                </a>
                                                <a class="badge badge-pending update my-1"
                                                   href="{{ path('marketing_experiences_edit_get', {id : m.id}) }}"
                                                   title="Modifier le post">
                                                    <i class="fa fa-edit "></i>
                                                </a>
                                                <a class="red delete my-1"
                                                   href="{{ path('post_delete_get', {id : m.id}) }}"
                                                   title="Supprimer l'experience'">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_javascript %}
    <script src="{{ asset('admin/assets/js/vendor/jquery-2.1.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('admin/assets/sweetalert/sweetalert.min.js') }}"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $(document).on('click', '.post-details', function (e) {
                $('#modal_titre').empty().append($(this).data('title'));
                $('#modal_guid').empty().append($(this).data('guid'));
                $('#modal_type').empty().append($(this).data('type'));
                $('#modal_etat').empty().append($(this).data('etat'));
                $('#modal_description').empty().append($(this).data('description'));
            })
        })

        $(document).on('click', '.delete', function (e) {
            e.preventDefault();
            var t = $(this);
            var urlPath = $(this).attr('href');
            swal({
                title: "Suppression du leads",
                text: "Attention le leads et ses articles seront Supprimées et n'apparaitront plus sur votre site",
                type: "info",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Supprimer",
                cancelButtonText: "Annuler",
                closeOnConfirm: false,
                closeOnCancel: false,
                showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: urlPath,
                        type: 'GET',
                        success: function (reponse) {
                            console.log(reponse);
                            if (reponse == 1) {
                                swal("Suppression terminée", "", "success");
                                t.parents('tr').hide();
                            } else if (reponse == 2) {
                                swal("La catégorie contient des paiements", "", "warning");
                            } else {
                                swal("Erreur de suppression", "", "error");
                            }

                        },
                        error: function (reponse) {
                            swal("Erreur de suppression", "", "error");
                        }
                    });
                } else {
                    swal.close();
                }
            });
            return false;
        });

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "12000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

{% endblock body_javascript %}
